[submodule "MPSoCBench"]
	path = MPSoCBench
	url = git@github.com:lianaduenha/MPSoCBench.git
[submodule "ArchC"]
	path = ArchC
	url = git@github.com:lianaduenha/ArchC.git
[submodule "mips"]
	path = mips
	url = https://github.com/rafaelauler/mips
[submodule "SystemC"]
	path = SystemC
	url = https://github.com/ArchC/SystemC.git
