[submodule "MPSoCBench"]
	path = MPSoCBench
	url = git@github.com:lianaduenha/MPSoCBench.git
[submodule "ArchC"]
	path = ArchC
	url = git@github.com:lianaduenha/ArchC.git
	branch = vArchC
[submodule "mips"]
	path = mips
	url = git@github.com:rafaelauler/mips.git
	branch = mips32r2
[submodule "SystemC"]
	path = SystemC
	url = https://github.com/ArchC/SystemC.git
